@font-face {
  font-family: Custom Reg;
  src: url("./assets/reg.otf");
}
@font-face {
  font-family: Custom Bold;
  src: url("./assets/bold.otf");
}
* {
  font-family: Custom Reg;
}
.selected {
  font-family: Custom Bold;
}
