@font-face {
  font-family: "Grotesk Reg";
  src: url("./assets/Format/grotesk_reg.ttf") format("truetype");
}
@font-face {
  font-family: "Grotesk Fat";
  src: url("./assets/Format/Format\ Grotesk\ Demo\ Fett.ttf");
}
@font-face {
  font-family: "Grotesk Light";
  src: url("./assets/Format/grotesk_light.ttf");
}
* {
  font-family: "Grotesk Light";
}
.bold {
  font-family: "Grotesk Fat";
}
.light {
  font-family: "Grotesk Light";
}
